<!DOCTYPE HTML>
<!--
	Andes Global by andesglob.com
	URL: http://andesglob.com
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Andes Global &mdash; Desarrollo web, aplicaciones móviles, PWA, marketing digital</title>
	<link rel="icon" href="images/andes.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Andes Global company website and blog." />
	<meta name="keywords" content="andes global, andes software, andes marketing, andes it, andes, desarrollo web, desarrollo, mobile, aplicaciones, PWA, Progressive Web Apps" />
	<meta name="author" content="andesglobal.com" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129143703-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-129143703-1');
    </script>

	</head>
	<body>

	<div class="gtco-loader"></div>

	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo">
						<a href="#gtco-header">
							<img 
								src="/images/andes-1.svg" 
								alt="triangle with all three sides equal"
								height="40"
								width="180"
							/>
						</a>
					</div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li class="active"><a href="#gtco-header">Inicio</a></li>
						<li><a href="#gtco-features-3">Nosotros</a></li>
						<li><a href="#gtco-features">Servicios</a></li>
						<li><a href="#gtco-portfolio">Portfolio</a></li>
						<li><a href="#gtco-footer">Contacto</a></li>
						<li><a href="blog" target="_blank" rel="noopener noreferrer">Blog</a></li>
					</ul>
				</div>
			</div>

		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay">
			<video autoplay loop muted preload="auto">
				<source type="video/mp4" src="videos/videoplayback.mp4" media="(orientation:landscape)">
				<source type="video/webm" src="videos/videoplayback.webm" media="(orientation:landscape)">
			</video>
		</div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp">
								<div>
									Creamos soluciones digitales
								</div>
								<div>
									para impulsarte al éxito.
								</div>
							</h1>
							<p class="animate-box" data-animate-effect="fadeInUp"><a href="#gtco-footer" class="btn btn-white btn-lg btn-outline">CONTACTANOS</a></p>
							<div class="col-md-12 text-center">
								<a href="#" onclick="return goDown();" style="opacity: 1;">
									<div class="animate-box" data-animate-effect="fadeInUp">
										<img src="/images/down.png">
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="gtco-features-3" name="nosotros">
		<div class="gtco-container">
			<div class="gtco-flex">
				<div class="feature feature-1 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-mobile"></i>
						</span>
						<h3>DESARROLLO DE APPS MÓVILES</h3>
						<p>Aplicaciones creativas y a medida, para disfrutar de todos los recursos disponibles en un smartphone. </p>
						<p><a href="#gtco-footer" class="btn btn-white btn-outline">Más información</a></p>
					</div>
				</div>
				<div class="feature feature-2 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-desktop"></i>
						</span>
						<h3>DESARROLLO WEB</h3>
						<p>Diseño y desarrollo de aplicaciones y sitios web. Nos ocupamos de todo el proceso de desarrollo, desde el diseño y codificación hasta la puesta en marcha del producto.</p>
						<p><a href="#gtco-footer" class="btn btn-white btn-outline">Más información</a></p>
					</div>
				</div>
				<div class="feature feature-3 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-stats-up"></i>
						</span>
						<h3>MARKETING DIGITAL</h3>
						<p>Desarrollo de estrategias de promoción online, análisis de resultados en tiempo real. </p>
						<p><a href="#gtco-footer" class="btn btn-white btn-outline">Más información</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>¿Cómo lo hacemos?</h2>
					<p>
						Desarrollamos productos digitales y creamos experiencias de marca que representan.
						Tu producto. Tu compañía. Tu audiencia.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-light-bulb"></i>
						</span>
						<h3>Estrategia</h3>
						<p>Comenzamos por escuchar y dejar que eso dé forma a nuestro proceso de diseño, con nuestros clientes como socios en cada paso del camino. </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-marker-alt"></i>
						</span>
						<h3>Diseño de experiencia</h3>
						<p>El excelente diseño de productos crea una experiencia que profundiza las conexiones de los usuarios con su empresa y marca. Nuestro objetivo para el diseño es crear una experiencia que brinde utilidad y deleite. </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-settings"></i>
						</span>
						<h3>Ingeniería y QA</h3>
						<p>Cuando llega el momento de comenzar a escribir código, nuestro objetivo es hacer lo más simple posible en el menor tiempo posible para ofrecer el mayor valor comercial. </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-stats-up"></i>
						</span>
						<h3>Crecimiento</h3>
						<p>Una vez que la rueda esta girando, necesitamos analizar los resultados, solo así en continuo movimiento podemos potenciar el crecimiento.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="gtco-portfolio" class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Algunos de nuestros trabajos</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-12">
					<ul id="gtco-portfolio-list">
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cooper.png); ">
							<a href="https://www.minhacooper.com.br/" target="_blank" rel="noopener noreferrer">
								<div class="case-studies-summary">
									<h2>Cooper</h2>
									<span>Diseño y desarrollo de Ecommerce y PWA</span>									
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/Sensorweb.png); ">
							<a href="https://sensorweb.com.br/" target="_blank" rel="noopener noreferrer">
								<div class="case-studies-summary">
									<h2>Sensorweb</h2>
									<span>Diseño y desarrollo de PWA</span>									
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/redevistorias.png); ">
							<a href="https://www.redevistorias.com.br/" target="_blank" rel="noopener noreferrer">
								<div class="case-studies-summary">
									<h2>Rede Vistorias</h2>
									<span>Diseño y desarrollo de PWA</span>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/nogueira.png); ">
							<a href="http://www.nogueira.com.br/" target="_blank" rel="noopener noreferrer">
								<div class="case-studies-summary">
									<h2>Nogueira Máquinas Agrícolas</h2>
									<span>Diseño y desarrollo de Ecommerce</span>									
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/margirius.png); ">
							<a href="https://www.margirius.com.br/" target="_blank" rel="noopener noreferrer">
								<div class="case-studies-summary">
									<h2>Margirius</h2>
									<span>Integración de cálculos fiscales</span>									
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/rpinto.png); ">
							<a href="http://rpintomarketing.com/" target="_blank" rel="noopener noreferrer">
								<div class="case-studies-summary">
									<h2>RPinto Marketing</h2>
									<span>Diseño y desarrollo web</span>									
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/kinecolor.png); ">
							<a href="http://www.kinecolorlaplata.com/" target="_blank" rel="noopener noreferrer">
								<div class="case-studies-summary">
									<h2>Kinecolor La Plata</h2>
									<span>Diseño y desarrollo web</span>									
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/alumnos.jpg); ">
							<a href="https://play.google.com/store/apps/details?id=nyble.unlpwifiautologin" target="_blank" rel="noopener noreferrer">
								<div class="case-studies-summary">
									<h2>511 alumnos UNLP</h2>
									<span>Desarrollo de App</span>									
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/jf.png); ">
							<a href="http://www.jfmaquinas.com/es/" target="_blank" rel="noopener noreferrer">
								<div class="case-studies-summary">
									<h2>JF Máquinas</h2>
									<span>Diseño y desarrollo de Ecommerce</span>									
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center animate-box">
					<a href="https://andesglob.com/blog/" class="btn btn-white btn-outline btn-lg btn-block">Explore todos nuestros trabajos</a>
				</div>
			</div>
		</div>
	</div>

	<div id="gtco-counter" class="gtco-section" style="background-image: url(images/how.png)" data-stellar-background-ratio="0.5">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>¿Cómo podemos ayudar?</h2>
					<p>Te ayudamos a crear conexiones significativas con tus clientes a través de experiencias de software personalizadas para teléfonos, tablets y web. Contactanos y hablemos de tu negocio. </p>
				</div>
			</div>
		</div>
	</div>

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>Sobre nosotros</h3>
						<p>Tenemos como objetivo principal ser tu aliado y potenciar el crecimiento de tu empresa a través de soluciones tecnológicas.</p>
					</div>
				</div>

				<div class="col-md-4 col-md-push-1">
					<div class="gtco-widget">
						<h3>Links</h3>
						<ul class="gtco-footer-links">
							<li><a href="#">Sumate!</a></li>
							<li><a href="#">Prensa</a></li>
							<li><a href="#">Privacidad</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>Contactanos</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i> +54 221-5748199</a></li>
							<li><a href="#"><i class="icon-mail2"></i> info@andesglob.com</a></li>
							<li><a href="#"><i class="icon-chat"></i> Chat en vivo</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2020 Andes Global. All Rights Reserved.</small>
						<small class="block">Designed by <a href="http://andesglob.com/" target="_blank">Andes Global.</a></small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/andesglobal/"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="https://www.instagram.com/andesglobal/"><i class="icon-instagram"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>
